In [1]:
shopping = ["bread", "milk", "eggs"]
print (shopping)

['bread', 'milk', 'eggs']

In [2]:
for item in shopping:
    print (item)

bread
milk
eggs

In [3]:
mixed = [365, 'days', True]
print(mixed)

[365, 'days', True]

In [4]:
nested = [shopping, mixed]
print (nested)

[['bread', 'milk', 'eggs'], [365, 'days', True]]

In [5]:
m = [[1,2,3],[4,5,6]]
print (m[1][1])

5

In [6]:
len(m)

2

In [8]:
for row in range (len(m)): #range is 0 to 2, not including 2
    for col in range (len(m[i])): #range is 0 to length of the colomn
        print(m[row][col])

1
2
3
4
5
6

In [11]:
employees = [["John McKee", 38, "Sales"], ["Lisa Crawford", 29, "Marketing"], ["Sujan Patel", 33, "HR"]]
for row in range(len(employees)):
    for col in range(len(employees[row])):
        print(employees[row][col])

John McKee
38
Sales
Lisa Crawford
29
Marketing
Sujan Patel
33
HR

In [12]:
print (employees)

[['John McKee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [14]:
for row in range(len(employees)):
    for col in range(len(employees[row])):
        if(employees[row][0] == 'Lisa Crawford'):
            print("Name: ", employees[row][0])
            print("Age: ", employees[row][1])
            print("Department: ", employees[row][2])
            break

Name:  Lisa Crawford
Age:  29
Department:  Marketing

In [15]:
for employee in employees:
    print(employee)

['John McKee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [16]:
for employee in employees:
    print("Name: ", employee[0])
    print("Age: ", employee[1])
    print("Department: ", employee[2])
    print('-'*20)

Name:  John McKee
Age:  38
Department:  Sales
--------------------
Name:  Lisa Crawford
Age:  29
Department:  Marketing
--------------------
Name:  Sujan Patel
Age:  33
Department:  HR
--------------------

In [4]:
x = [[1,2,3],[4,5,6],[7,8,9]]
y = [[10,11,12],[13,14,15],[16,17,18]]
sum = [[0,0,0],[0,0,0],[0,0,0]]
difference = [[0,0,0],[0,0,0],[0,0,0]]

for row in range(len(x)):
    for col in range(len(x[0])):
        sum[row][col] = x[row][col] + y[row][col]
        difference[row][col] = y[row][col] - x[row][col]

print(sum)
print(difference)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]
[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

In [5]:
x = [[1,2],[4,5],[3,6]] #3x2
y = [[1,2,3,4],[5,6,7,8]] #2x4
result = [[0,0,0,0],[0,0,0,0],[0,0,0,0]]

for i in range(len(x)):
    for j in range(len(y[0])):
        for k in range(len(y)):
            result[i][j] += x[i][k] * y[k][j]

for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [6]:
shopping = ["bread", "milk", "eggs"]
print(len(shopping))

3

In [7]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2

print(list3)

[1, 2, 3, 4, 5, 6]

In [9]:
list = ["hello "]
print(list*3)

['hello ', 'hello ', 'hello ']

In [1]:
shopping = ["milk", "bread", "eggs"]
print (shopping)

['milk', 'bread', 'eggs']

In [2]:
print(shopping[1])

bread

In [3]:
shopping[1] = 'banana'

In [5]:
print(shopping[-2])

banana

In [9]:
print(shopping[:3])
print(shopping[0:])
print(shopping[-2:3])

['milk', 'banana', 'eggs']
['milk', 'banana', 'eggs']
['banana', 'eggs']

In [10]:
shopping.append("butter")
print(shopping)

['milk', 'banana', 'eggs', 'butter']

In [11]:
shopping = []
shopping.append("one")
shopping.append("two")
shopping.append("three")
print(shopping)

['one', 'two', 'three']

In [12]:
shopping.insert(0,"zero")
print(shopping)

['zero', 'one', 'two', 'three']

In [14]:
employee = {
    name: "Abhshek Gupta",
    'email': "hello@world.com"
}

print(employee)

{'name': 'Abhshek Gupta', 'email': 'hello@world.com'}

In [8]:
movie = {
    'title': "Gone with the wind",
    'director': "Francis Capola",
    'year': 1970,
    'rating': 9.2
}

print(movie)

{'title': 'Gone with the wind', 'director': 'Francis Capola', 'year': 1970, 'rating': 9.2}

In [5]:
print(movie['year'])

1970

In [6]:
movie['year'] = 1955

In [7]:
print(movie['year'])

1955

In [9]:
movie['rating'] = (movie['rating'] + 9.5)/2

In [10]:
print(movie)

{'title': 'Gone with the wind', 'director': 'Francis Capola', 'year': 1970, 'rating': 9.35}

In [13]:
movie = {}
movie['title'] = "godfather"
movie["year"] = 1972
movie['rating'] = 9.8
movie['actors'] = ['Marlon Brando','Al Pacino'] #embed a list
movie['other_details'] = { #Embed another dictionary
    'runtime': 175,
    'language': 'English'
}
print(movie)

{'title': 'godfather', 'year': 1972, 'rating': 9.8, 'actors': ['Marlon Brando', 'Al Pacino'], 'other_details': {'runtime': 175, 'language': 'English'}}

In [2]:
employee1 = {
    'Name': "John McKee",
    'Age': 38,
    'Department': "Sales"
}
employee2 = {
    'Name': "Lisa Crawford",
    'Age': 29,
    'Department': "Marketing"
}
employee3 = {
    'Name': "Sujan Patel",
    'Age': 33,
    'Department': "HR"
}

employees = [employee1, employee2, employee3]
print(employees)

[{'Name': 'John McKee', 'Age': 38, 'Department': 'Sales'}, {'Name': 'Lisa Crawford', 'Age': 29, 'Department': 'Marketing'}, {'Name': 'Sujan Patel', 'Age': 33, 'Department': 'HR'}]

In [6]:
print(employees[2])

{'Name': 'Sujan Patel', 'Age': 33, 'Department': 'HR'}

In [7]:
for emp in employees:
    print("Name: ", emp['Name'])
    print("Age: ", emp['Age'])
    print("Department: ", emp['Department'])
    print("*"*20)

Name:  John McKee
Age:  38
Department:  Sales
********************
Name:  Lisa Crawford
Age:  29
Department:  Marketing
********************
Name:  Sujan Patel
Age:  33
Department:  HR
********************

In [9]:
for emp in employees:
    if(emp['Name'] == "Sujan Patel"):
        print("Name: ", emp['Name'])
        print("Age: ", emp['Age'])
        print("Department: ", emp['Department'])
        print("*"*20)

Name:  Sujan Patel
Age:  33
Department:  HR
********************

In [18]:
#turn zip into a list
items = ['apple', 'orange', ' banana']
quantity = [ 5,3,2]
orders = zip(items, quantity)
print (orders)
print (list(orders))

<zip object at 0x7fddd039f880>
[('apple', 5), ('orange', 3), (' banana', 2)]

In [23]:
#turn zip into a tuple
orders = zip(items, quantity)
print (tuple(orders))

(('apple', 5), ('orange', 3), (' banana', 2))

In [24]:
#turn zip into a Dict
orders = zip(items, quantity)
print (dict(orders))

{'apple': 5, 'orange': 3, ' banana': 2}

In [6]:
orders = {
    'Apple': 5,
    'Orange': 3,
    'Banana': 2
}

print(orders.values())
print(list(orders.values()))
print(orders.keys())
print(list(orders.keys()))

dict_values([5, 3, 2])
[5, 3, 2]
dict_keys(['Apple', 'Orange', 'Banana'])
['Apple', 'Orange', 'Banana']

In [8]:
for tuple in list(orders.items()):
    print(tuple)

('Apple', 5)
('Orange', 3)
('Banana', 2)

In [11]:
#mutable list
weekdays = ['Mon', 'Tue', 'Wed']

#non-mutable tuples
weekdays_tuple = ('Mon', 'Tue', 'Wed')

print(weekdays)
print(weekdays_tuple)

['Mon', 'Tue', 'Wed']
('Mon', 'Tue', 'Wed')

In [14]:
weekdays[0] = 'Sun'
print(weekdays)

weekdays_tuple[0] = 'Sun'
print(weekdays_tuple)

['Sun', 'Tue', 'Wed']

TypeError: 'tuple' object does not support item assignment

In [17]:
t = ('bread', 'milk', 'eggs')
print(len(t))
print(t)

3
('bread', 'milk', 'eggs')

In [18]:
#create a new tuple with additinal values
t2 = t + ('apple', 'orange')
print (t2)

('bread', 'milk', 'eggs', 'apple', 'orange')

In [21]:
tuple_mixed = 'apple', True, 3
tuple_nested = ('apple', 5), ('orange', 6), ('shop', True)
print(tuple_mixed)
print(tuple_nested)

('apple', True, 3)
(('apple', 5), ('orange', 6), ('shop', True))

In [28]:
s1 = set([1,2,3,4,5,6])
print(s1)

#redundant elements are removed
s2 = set([1,2,2,2,3,3,3,4,5,6])
print(s2)

#ordered and removed redundancy
s3 = set([6,6,6,5,5,4,1,2,2,2,3,3,3,4,5,6])
print(s3)

#can initialize set using curly braces directly
s4 = {'apple', 'orange', 'banana'}
print(s4)

#sets are mutable (unlike tuples)
s4.add('cherry')
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{'apple', 'orange', 'banana'}
{'apple', 'orange', 'banana', 'cherry'}

In [18]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

#unions
print (s5 | s6)
print(s5.union(s6))

#intersections
print(s5.intersection(s6))
print(s5 & s6)

#difference
print(s5 - s6)
print(s5.difference(s6))

#difference - 2
print(s6 - s5)
print(s6.difference(s5))

#check if subset
print(s5 <= s6)
print (s5.issubset(s6))
s7 = {1,2,3,4}
s8 = {1,2,3,4,5,6,7,8}
print(s7 <= s8)
print (s7.issubset(s8))
s9 = {1,2,3,4}
s10 = {1,2,3,4}
print(s9 <= s10)
print(s9 < s10)
print (s9 < s9) #not proper subset
print (s9 <= s9)

#check superset
print(s7 >= s8)
print(s7 <= s8)
print(s8.issuperset(s7))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}
False
False
True
True
True
False
False
True
False
True
True